body {
  background-color: #F0F0F0;
}

.container {
  width: 70%;
  margin-top: 50px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 5px;
}

.first {
  margin-top: 50px;
  color: #3399FF;
  text-align: center;
  font-size: 5em;
}

.second {
  text-align: center;
  font-size: 3em;
}

.third {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  color: gray;
  text-align: center;
  font-size: 2em;
}

span {
  font-size: 2em;
  margin-right: 10px;
}

input {
  margin-left: 4px !important;
  zoom: 2;
}

.subscribe {
  margin-top: 40px;
  text-align: center;
}

.sendgrid-subscription-widget label>span {
  display: inline-block !important;
}

.sendgrid-subscription-widget label {
  display: inline-block !important;
}
