<html>
  <head>
    <title>Official SAT Question of the Day Emailer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="bootstrap.min.css">
  </head>
<body>
  <div class="container">
    <h1 class="first">SAT Official Question of the Day</h1>
    <hr>
    <h2 class="second">Delivered to you daily!</h2>
    <div class="subscribe sendgrid-subscription-widget" data-token="bNbgp4sUg8Ob47%2FriXOVdy8I50KrG8HxmMh6nTB2DjbydImxCGqdzeh60HBb7qj5"></div><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?"http":"https";if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://s3.amazonaws.com/subscription-cdn/0.2/widget.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document, "script", "sendgrid-subscription-widget-js");</script>

    <p class="third">This webapp scrapes CollegeBoard for the question of the
    <br> day and sends out a daily email. Made @ HackDuke 2014.</p>
  </div>
</body>
